@using WIL_Project.ViewModels

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Voucher.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Autour+One&family=Kalam:wght@300&family=Montserrat:wght@300;400;500;600;700&family=Playfair+Display+SC&family=Russo+One&family=Shadows+Into+Light&family=Share+Tech+Mono&family=Space+Grotesk&display=swap" rel="stylesheet">
    <title>Voucher Page</title>
</head>
<body>

    @model VoucherViewModel

    <h1 style="color:white;">Available Vouchers</h1>
    <div class="voucher-container" id="voucher-container">
        @foreach (var voucher in Model.DiscountVouchers)
        {
            if (voucher.Visibility.ToLower() == "public")
            {
                <div class="voucher" onclick="toggleVoucherDetails(this)">
                    <h5 class="voucher-name">@voucher.DiscountType</h5>
                    <div class="voucher-details">
                        <p><strong>Voucher Code:</strong> @voucher.Code</p>
                        <p><strong>Value:</strong> @voucher.DiscountType</p>
                        <p><strong>Expiration Date:</strong> @voucher.ValidTo.ToString("yyyy-MM-dd")</p>
                    </div>
                </div>
            }
        }
    </div>

    <h2 style="color:white;">Redeem Vouchers</h2>
    <form method="post" asp-action="AddVoucher" id="redeem-form">
        <label for="voucher-code">Enter Voucher Code:</label>
        <input type="text" id="voucher-code" name="voucherCode" required>
        <button type="submit" style="color:white; background-color:#75001e; margin-top:15px;">Redeem</button>
    </form>

    <h2>Voucher Usage History</h2>
    <div id="usage-history">
        @foreach (var entry in Model.DiscountVoucherRedemptions.Take(5))
        {
            <div class="usage-entry">
                <p><strong>Date:</strong> @entry.RedemptionDate.ToString("yyyy-MM-dd")</p>
                <p><strong>Voucher Code:</strong> @entry.Code</p>
            </div>
        }
    </div>


    <script>
        function toggleVoucherDetails(voucher) {
            // Find the voucher details element within the clicked voucher
            var details = voucher.querySelector(".voucher-details");

            // Toggle the visibility of the details
            if (details.style.display === "none" || details.style.display === "") {
                details.style.display = "block";
            } else {
                details.style.display = "none";
            }
        }
    </script>
</body>
</html>
